ragas==0.3.7

langchain==0.3.30
langchain-community==0.3.18
langchain-core==0.3.86
langchain-openai==0.2.14
langchain-text-splitters==0.3.11

openai==1.109.1

datasets==4.8.5
pandas
numpy
tiktoken

python-dotenv

chromadb
sentence-transformers

streamlit

pre-commit
